@model AccessControl.Models.Usuario
@{
    ViewBag.Legend = "CADASTRO";
}
@{
    if (new AccessControl.Models.DAOs.UsuarioDao().Selecionar((long)Session["rfid"]) != null)
    {
        <h2>@Html.ActionLink("Volte", "Inicio", "Inicio") para o Início e apresente um novo cartão, pois a sessão atual já está cadastrada!</h2>
    }
}

<script type="text/javascript" language="javascript">
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var img = document.getElementById('img');
            img.src = reader.result;
            img.style = 'display: normal';
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>

@using (Html.BeginForm("Cadastrar", "Cadastro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <input type="hidden" name="rfid" value="@Session["rfid"]" />

    <fieldset>
        <legend><b>FOTO</b></legend>
        <div class="editor-field">
            <div><img id="img" src="#" alt="foto do perfil" height="100" width="100" style="display:none" /></div>
            <input type="file" id="file" name="file" accept="image/*" onchange="loadFile(event)" />
        </div>
    </fieldset>
    <fieldset>
        <legend><b>DADOS PESSOAIS</b></legend>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nome, new { placeholder = "NOME" })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "E-MAIL" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descricao, new { placeholder = "DESCRIÇÃO" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telefone, new { placeholder = "TELEFONE" })
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nascimento, new { placeholder = "DATA DE NASCIMENTO" })
            @Html.ValidationMessageFor(model => model.Nascimento)
        </div>
    </fieldset>
    <fieldset>
        <legend><b>TIPO DE USUÁRIO</b></legend>
        @Html.ValidationMessageFor(model => model.Tipo)
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Tipo, "Nor") <span>Normal</span>
            @Html.RadioButtonFor(model => model.Tipo, "Adm") <span>Administrador</span>
        </div>
    </fieldset>
    <fieldset>
        <p><input class="func" type="submit" value="SALVAR" /></p>
    </fieldset>
}

<script>
    jQuery(function ($) {
        $("#Telefone").mask("(99) 99999-9999");
        $("#Nascimento").mask("99/99/9999")
    });
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}