@model AccessControl.Models.Usuario
@{
    ViewBag.Legend = Html.DisplayFor(model => model.Nome);
}

@{
    var bfoto = new AccessControl.Models.DAOs.FotoDao().Selecionar(Model.Rfid);
}

<script type="text/javascript" language="javascript">
    var loading = function (event) {
        document.getElementById('load').style = 'display: normal; text-align: center';
    }
</script>

<div id="load" style="display: none">
    <img src="~/Content/images/loader.gif" />
</div>

<div id="foto">
    <img src="data:image;base64, @System.Convert.ToBase64String(bfoto.Imagem)" alt="foto do perfil" height="120" width="120" />
</div>
<div id="dados">
    @if (Model.Tipo.Equals("Adm"))
    {
        <a class="func" href="Administracao/Formulario?email=@Model.Email" onclick="loading(event)">ATUALIZAR-ME</a>
    }
    <div id="email">
        <b>E-MAIL </b>
        <i>@Html.DisplayFor(model => model.Email)</i>
    </div>
    <div id="descricao">
        <b>DESCRIÇÃO </b>
        <i>@Html.DisplayFor(model => model.Descricao)</i>
    </div>
    <div id="telefone">
        <b>TELEFONE </b>
        <i>@Html.DisplayFor(model => model.Telefone)</i>
    </div>
    <div id="nascimento">
        <b>DATA DE NASCIMENTO </b>
        <i>@Html.DisplayFor(model => model.Nascimento)</i>
    </div>
    <div id="tipo">
        <b>TIPO </b>
        <i>
            @{
                if (Model.Tipo.Equals("Nor"))
                {
                    <span>Normal</span>
                }
                else
                {
                    <span>Administrador</span>
                }
            }
        </i><a class="func" href="Inicio/Sair" onclick="loading(event)">Sair</a>
    </div>
</div>

<p>
    @{
        if (Model.Tipo == "Adm")
        {
            <header class="navigation">
                <ul class="nav">
                    <li class="adm">
                        <a href="Administracao/Consultar" onclick="loading(event)">Consultar</a>
                    </li>
                    <li class="adm">
                        <a href="Administracao/Atualizar" onclick="loading(event)">Atualizar</a>
                    </li>
                    <li class="adm">
                        <a href="Administracao/Deletar" onclick="loading(event)">Deletar</a>
                    </li>
                </ul>
            </header>
        }
    }
</p>