@model AccessControl.Models.Usuario
@{
    ViewBag.Legend = Html.DisplayFor(model => model.Nome);
}

@{
    var bfoto = new AccessControl.Models.DAOs.FotoDao().Selecionar(Model.Rfid);
}

<div id="foto">
    <img src="data:image;base64, @System.Convert.ToBase64String(bfoto.Imagem)" alt="foto do perfil" height="100" width="100" />
</div>
<div id="dados">
    <div id="email">
        <b>E-MAIL </b>
        <i>@Html.DisplayFor(model => model.Email)</i><a class="func" href="Administracao/Formulario?email=@Model.Email">ATUALIZAR-ME</a>
    </div>
    <div id="descricao">
        <b>DESCRIÇÃO </b>
        <i>@Html.DisplayFor(model => model.Descricao)</i>
    </div>
    <div id="telefone">
        <b>TELEFONE </b>
        <i>@Html.DisplayFor(model => model.Telefone)</i>
    </div>
    <div id="nascimento">
        <b>DATA DE NASCIMENTO </b>
        <i>@Html.DisplayFor(model => model.Nascimento)</i>
    </div>
    <div id="tipo">
        <b>TIPO </b>
        <i>
            @{
                if (Model.Tipo.Equals("Nor"))
                {
                    <span>Normal</span>
                }
                else
                {
                    <span>Administrador</span>
                }
            }
        </i><a class="func" href="Inicio/Sair">Sair</a>
    </div>
</div>

<p>
    @{
        if (Model.Tipo == "Adm")
        {
            <header class="navigation">
                <ul class="nav">
                    <li class="adm">
                        @Html.ActionLink("Consultar", "Consultar", "Administracao")
                    </li>
                    <li class="adm">
                        @Html.ActionLink("Atualizar", "Atualizar", "Administracao")
                    </li>
                    <li class="adm">
                        @Html.ActionLink("Deletar", "Deletar", "Administracao")
                    </li>
                </ul>
            </header>
        }
    }
</p>