@model List<AccessControl.Models.Usuario>

@if (Model.Count == 0)
{
    <center><h2 id="faca">Faça sua pesquisa!</h2></center>
}
else
{
    foreach (var usuario in Model)
    {
        var bfoto = new AccessControl.Models.DAOs.FotoDao().Selecionar(usuario.Rfid);
        <div id="foto">
            <img src="data:image;base64, @System.Convert.ToBase64String(bfoto.Imagem)" alt="foto do perfil" height="100" width="100" />
        </div>
        <div id="dadosList">
            <div>
                <b>NOME</b>
                <i>@usuario.Nome</i>
            </div>
            <div id="email">
                <b>E-MAIL </b>
                <i>@usuario.Email</i>
            </div>
            <div id="descricao">
                <b>DESCRIÇÃO </b>
                <i>@usuario.Descricao</i>
            </div>
            <div id="telefone">
                <b>TELEFONE </b>
                <i>@usuario.Telefone</i>
            </div>
            <div id="nascimento">
                <b>DATA DE NASCIMENTO </b>
                <i>@usuario.Nascimento</i>
            </div>
            <div id="tipo">
                <b>TIPO </b>
                <i>
                    @if (usuario.Tipo.Equals("Nor"))
                    {
                        <span>Normal</span>
                    }
                    else
                    {
                        <span>Administrador</span>
                    }

                </i>
            </div>
        </div>
        <div><a href="Formulario?email=@usuario.Email">ATUALIZAR</a></div>
    }
}