@model AccessControl.Models.Usuario
@{
    ViewBag.Legend = "FORMULÁRIO DE ATUALIZAÇÃO";
    var bfoto = new AccessControl.Models.DAOs.FotoDao().Selecionar(Model.Rfid);
}

<script type="text/javascript" language="javascript">
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var img = document.getElementById('img');
            img.src = reader.result;
            img.style = 'display: normal';
        };
        reader.readAsDataURL(event.target.files[0]);
    };
    var loading = function (event) {
        document.getElementById('load').style = 'display: normal; text-align: center';
    }
</script>

@using (Html.BeginForm("Atualizar", "Administracao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Rfid, new { value = Model.Rfid })
    @Html.HiddenFor(model => model.Email, new { value = Model.Email })
    @Html.HiddenFor(model => model.Tipo, new { value = Model.Tipo })
    <div id="load" style="display: none">
        <img src="~/Content/images/loader.gif" />
    </div>
    <fieldset>
        <legend><b>FOTO</b></legend>
        <div class="editor-field">
            <div><img id="img" src="data:image;base64, @System.Convert.ToBase64String(bfoto.Imagem)" alt="foto do perfil" height="100" width="100" /></div>
            <input type="file" id="file" name="file" accept="image/*" onchange="loadFile(event)" />
        </div>
    </fieldset>
    <fieldset>
        <legend><b>DADOS PESSOAIS</b></legend>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nome, new { placeholder = "NOME", value = Model.Nome })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-field">
            <i>@Model.Email</i>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descricao, new { placeholder = "DESCRIÇÃO", value = Model.Descricao })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telefone, new { placeholder = "TELEFONE", value = Model.Telefone })
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nascimento, new { placeholder = "DATA DE NASCIMENTO", value = Model.Nascimento })
            @Html.ValidationMessageFor(model => model.Nascimento)
        </div>
    </fieldset>
    <fieldset>
        <legend><b>TIPO DE USUÁRIO</b></legend>
        <i>
            @if (Model.Tipo.Equals("Nor"))
            {
                <span>Normal</span>
            }
            else
            {
                <span>Administrador</span>
            }
        </i>
    </fieldset>
    <fieldset>
        <p><input class="func" type="submit" value="ATUALIZAR" onclick="loading(event)" /></p>
    </fieldset>
}

<script>
    jQuery(function ($) {
        $("#Telefone").mask("(99) 99999-9999");
        $("#Nascimento").mask("99/99/9999")
    });
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
